html {
  background-color: #222222;
  color: #d2d2d2;
}

body {
  margin: 0;
  color: #d2d2d2;
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter/InterVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('assets/fonts/JetBrainsMono/JetBrainsMono[wght].ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
