html {
    background-color: rgb(34, 34, 34);
    color: rgb(210, 210, 210);
}

body {
    margin: 0;
    color: rgb(210, 210, 210);
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
